<div class="jumbotron mt-3 pt-4">
  <h1 class="display-4">This NOTE APP is using Node JS as Backend</h1>
  <p class="lead">A simple App to manage Notes with Node JS, also is using the next characteristics:</p>
  <ul class="list-group list-group-flush  ">
    <li class="list-group-item list-group-item-secondary">Node JS as Backend</li>
    <li class="list-group-item list-group-item-secondary">Express as framework for run server's functions</li>

    <li class="list-group-item list-group-item-secondary">Fs-extra as a better complete to common fs, better manage about remove files</li>
    <li class="list-group-item list-group-item-secondary">Multer for manage image across server</li>

    <li class="list-group-item list-group-item-secondary">Handlebars as layer engine</li>
    <li class="list-group-item list-group-item-secondary">Bcrypt as encrypter method when using password</li>
    <li class="list-group-item list-group-item-secondary">Express-sessions as a simple method for share data at server side</li>
    <li class="list-group-item list-group-item-secondary">Connect-flash as a better method for share data at server side between routes</li>
    <li class="list-group-item list-group-item-secondary">Express-handlebar for manage function about engine layer with express</li>
    <li class="list-group-item list-group-item-secondary">Method-override for override simple method GET/POST</li>
    <li class="list-group-item list-group-item-secondary">Moment as method for manage time better</li>
    <li class="list-group-item list-group-item-secondary">Mongoose for connect whit Mongo DB</li>
    <li class="list-group-item list-group-item-secondary">Passport as a method for manage credencials/logins</li>
    <li class="list-group-item list-group-item-secondary">Passport local for manage passport at local server</li>
  </ul>
  <hr class="my-4">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, rem voluptas! Dolor consectetur tempora, quas obcaecati provident repudiandae numquam magni facere sequi, odit suscipit sint accusamus cupiditate culpa. Tenetur, itaque?
  </p>
  <a class="btn btn-outline-dark btn-lg mt-4" href="https://eadbeel94.herokuapp.com/" role="button">eadbeel94</a>
</div>